[Desktop Entry]
Encoding=UTF-8
Name=AMOR
Name[af]=Amor
Name[ar]=برنامج AMOR
Name[bg]=Amor
Name[fi]=Amor
Name[fo]=Amor
Name[hi]=एमोर
Name[ko]=아모르
Name[pa]=ਅਮੋਰ
Name[sv]=Amor
Name[ta]= AMOR
Name[xx]=xxAMORxx
Name[zh_CN]=阿莫(AMOR)
Exec=amor
Icon=amor
Type=Application
DocPath=amor/index.html
GenericName=On-Screen Creature
GenericName[af]=Amusante Misbruik van Hulpbronne
GenericName[ar]=استعمال خاطئ ومضحك للمصادر
GenericName[bg]=Усмивка
GenericName[bs]=Zabavno trošenje resursa
GenericName[ca]=Malbaratament alegre de recursos
GenericName[cs]=Zábavné zneužití zdrojů
GenericName[cy]=Camddefnydd Doniol o Adnoddau
GenericName[de]=Amüsante Ressourcenverschwendung
GenericName[el]=Διασκεδαστική κατάχρηση πόρων
GenericName[eo]=Amuza MisuzO de Rimedoj
GenericName[es]=Entretenido derroche de recursos
GenericName[et]=Arvutivõimsuse Mõttetult Opakas Raiskamine
GenericName[eu]=Errekurtsoen Erabiltze Txar Jostagarria
GenericName[fi]=Resurssien hukkakäyttöä
GenericName[fr]=Gaspilleur amusant de ressources
GenericName[ga]=Míúsáid Ghreannmhar na hAcmhainní
GenericName[gl]=Divertido despendedor de recursos
GenericName[he]=שימוש משעשע לרעה במשאבים
GenericName[hi]=साधनों का मनोरंजक दुरुपयोग
GenericName[hu]=Erőforrás-fogyasztó
GenericName[is]=Skemmtileg leið til að sóa reiknikrafti tölvunnar
GenericName[it]=Allegro Massacro di Ogni Risorsa
GenericName[ja]=Amusing Misuse of Resources(驚くべきリソースの無駄使い)
GenericName[lv]=Amizants resursu šķērdētājs
GenericName[mt]=Aħli Minuti u Riżorsi
GenericName[nb]=Festlig misbruk av ressurser
GenericName[nl]=Grappig misbruik van systeemmiddelen
GenericName[nn]=Amusing Misuse Of Resources
GenericName[pl]=Bezużyteczne wykorzystanie zasobów
GenericName[pt]=Desperdício Engraçado de Recursos
GenericName[pt_BR]=Agradável mau uso de recursos
GenericName[ro]=Utilizare plăcută a resurselor calculatorului
GenericName[ru]=Весёлая растрата ресурсов
GenericName[sk]=Zábavné zneužitie zdrojov
GenericName[sl]=Zanimivo zapravljanje virov
GenericName[sr]=Забавна злоупотреба ресурса
GenericName[sr@Latn]=Zabavna zloupotreba resursa
GenericName[sv]=Underhållande slöseri med resurser
GenericName[ta]= வளங்களை தவறாக பயன்படுத்துவது
GenericName[tg]=Харҷи Хушҳоли Захираҳо
GenericName[th]=ผลาญทรัพยากรเครื่อง เพื่อความเพลิดเพลิน
GenericName[tr]=Eğlenceli Kaynak Savurganı
GenericName[uk]=Дивне недоцільне використання ресурсів
GenericName[xh]=Usetyenziso Ngendlela Engeyiyo Ehlekisayo Yamacebo
GenericName[xx]=xxAmusing Misuse of Resourcesxx
GenericName[zh_CN]=趣味资源消耗者
Terminal=false
X-DCOP-ServiceType=Unique
Categories=Qt;KDE;Amusement;
