[Desktop Entry]
Name=AMOR
Name[af]=Amor
Name[ar]=برنامج AMOR
Name[bg]=Amor
Name[bn]=আমোর
Name[fi]=Amor
Name[fo]=Amor
Name[fr]=Amor
Name[hi]=एमोर
Name[pa]=ਅਮੋਰ
Name[sv]=Amor
Name[ta]= AMOR
Name[tr]=Amor
Name[zh_CN]=阿莫(AMOR)
Exec=amor
Icon=amor
Type=Application
DocPath=amor/index.html
GenericName=On-Screen Creature
GenericName[be]=Экранная жывёла
GenericName[bg]=Усмивка за работното място
GenericName[bn]=পর্দায় বসবাসকারী জন্তু
GenericName[ca]=Criatura a la pantalla
GenericName[cs]=Příšerka na obrazovce
GenericName[cy]=Creadur Ar-Sgrin
GenericName[da]=Skabning på skærmen
GenericName[de]=Maskottchen für die Arbeitsfläche
GenericName[el]=Πλάσμα στην οθόνη
GenericName[eo]=Surekrana kreaĵo
GenericName[es]=Criatura de la pantalla
GenericName[et]=Elajas töölaual
GenericName[eu]=Pantailako gizakia
GenericName[fa]=ایجاد‌کنندۀ روی پرده
GenericName[fi]=Näytönolento
GenericName[fr]=Créature sur l'écran
GenericName[ga]=Créatúr ar do scáileán
GenericName[gl]=Criatura no Escritório
GenericName[he]=יצור מסכי 
GenericName[hr]=Kretura na zaslonu
GenericName[hu]=Animált figurák
GenericName[is]=Skjámyndataka
GenericName[it]=Creatura sullo schermo
GenericName[ja]=画面上の生物
GenericName[km]=ការច្នៃ​ប្រឌិត​លើ​អេក្រង់
GenericName[ko]=화면 위 생명체
GenericName[lv]=Ekrāna dzīvnieks
GenericName[mk]=Креатура на екранот
GenericName[mt]=Annimal ta' fuq l-iskrin
GenericName[nb]=Vesen på skjermen
GenericName[nds]=Schriefdisch-Maskottje
GenericName[ne]=पर्दा क्रिएचर
GenericName[nl]=Schermvermaak
GenericName[nn]=Skjermvesen
GenericName[pa]=ਆਨ-ਸਕਰੀਨ ਲਵੋ
GenericName[pl]=Stworzenie ekranowe
GenericName[pt]=Criatura no Ecrã
GenericName[pt_BR]=Criatura na Tela
GenericName[ro]=Creatură pe ecran
GenericName[ru]=Экранные зверушки
GenericName[sk]=Stvorenie na obrazovke
GenericName[sl]=Zaslonska živalca
GenericName[sr]=Створење на екрану
GenericName[sr@Latn]=Stvorenje na ekranu
GenericName[sv]=Varelse på skärmen
GenericName[ta]=திரையில் உருவாக்கி
GenericName[tg]=Махлуқ дар экран
GenericName[tr]=Ekranda Gezinen Yaratık
GenericName[uk]=Екранна істота
GenericName[zh_CN]=屏幕涂鸦
GenericName[zh_TW]=畫面擷取程式
Terminal=false
X-DCOP-ServiceType=Unique
Categories=Qt;KDE;Utility;Amusement;
