# KDE Config File 
[KDE Desktop Entry]
Name=AMOR
Name[it]=DSDR (AMOR)
Exec=amor
Icon=amor
Type=Application
#DocPath=amor/amor.html
Comment=Amusing Misuse Of Resources
Comment[ca]=Mal ús divertit de recursos
Comment[cs]=Zábavné zneužití zdrojů (Amusing Misuse Of Resources)
Comment[de]=Amüsante Resourcenverschwendung
Comment[el]=Διασκεδαστικό αλλά άχρηστο
Comment[eo]=Amuza MisuzO de Rimedoj
Comment[es]=Malgastador de Recursos Entretenido
Comment[et]=Arvuti ressursi täiesti mõtetu raiskamine
Comment[fi]=Resurssien hukkakäyttöä
Comment[gl]=Divertido Desperdicio de Recursos
Comment[he]=םיבאשמב הערל עשעשמ שומיש
Comment[hr]=Zabavno trošenje resursa
Comment[hu]=Erőforrás-fogyasztó program :)
Comment[is]=amor:  Skemmtileg leið til að sóa reiknikrafti tölvunnar
Comment[it]=Divertente spreco di risorse (Amusing Misuse Of Resources)
Comment[ja]=驚くべきリソースの無駄使い
Comment[lt]=Linksmas piktnaudžiavimas ištekliais
Comment[nl]=Grappig misbruik van systeemmiddelen
Comment[no]=Amusing Misuse av ressurser
Comment[pl]=Bezużytczne wykorzystanie zasobów
Comment[pt]=Desperdício Interessante de Recursos
Comment[pt_BR]=Agradável mau uso de recursos
Comment[ro]=Consumator de resurse hardware într-un mod plăcut
Comment[ru]=Прикольная трата ресурсов
Comment[sk]=Zábavné zneužitie zdrojov. (Amusing Misuse Of Resources)
Comment[sl]=Zanimivo zapravljanje virov
Comment[sv]=Nöjsamt missbruk av resurser
Comment[ta]=ÅÇí¸Ç¢ý ¾ÅÈ¡É ÀÂýÀ¡Î
Comment[tr]=Eğlenceli Kaynak Savurganlığı
Comment[uk]=Дивне недоцільне використання ресурсів
Comment[zh_CN.GB2312]=有趣地乱用资源
Terminal=0
