[Desktop Entry]
Name=AMOR
Exec=amor
Icon=amor
Type=Application
X-DocPath=amor/index.html
GenericName=On-Screen Creature
Terminal=false
X-DBUS-StartupType=Unique
Categories=Qt;KDE;Game;Amusement;
